<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Cibrary</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/cibrary.css}"/>

    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div>
                <a th:href="@{/books/allBooks}">
                    <span class="navbar-brand-ciber navbar-brand"><b>cibrary</b></span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="nav-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown navbar-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Menu
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/books/allBooks}">Cibrary</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/myLoans}">My Loans</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/books/lookupIsbn}">Add book</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div layout:fragment="content">
        Fake content
    </div>
</body>
</html>